*{
    top: 0%;
    left: 0%;
    right: 0%;
}

.hello{
    display: flex;
    gap: 10px;
    list-style: none;
    font-size:20px;
    height:30px;
    top: 0%;
    
   
}
.hello :hover{
    color: orangered;
    font-size: 20px;   
}

.buu :hover{
    color:black;
    font-size: small;
}

.back{
    display: grid;
    justify-content:space-between;
    align-items: center;
    text-align: center;
    background-color:black;
    color: white; 
    position: fixed;
    z-index: 100;   

    
    
}

.img{
    position: relative;
    display: inline-block;
    z-index: 100px;
}
.img img{
    display: block;
    width: 100%;
    
}
.img.box1{
    position: absolute;
    top: 20%;

}

.img .pad{
    top: 10%;
    color: rgb(255, 255, 255);
    left: 5%;
    font-size: 60px;
    position: absolute;
    margin-top: 150px;
    
}
.img .paad{
    top: 18%;
    color: rgb(255, 255, 255);
    left: 5%;
    font-size: 60px;
    position: absolute;
    margin-top: 170px;
    
}
 .container{
display: flex;
margin-left: 60px;
gap: 20px;

position: absolute;
} 
.box1{
border: 2px solid black;
width: 160px;
height: 50px;
background-color: black;
margin-left: 100px;
border-radius: 10px;
color: white;
padding: 10px;
text-align: center;
border-color: white;
} 
.box2{
border: 2px solid black;
border-color: white;
width: 150px;
height: 50px;
border-radius: 10px;
margin-left: 100px;
background-color: black;
color: white;
padding: 10px;
text-align: center;

} 
.cont{
    text-align: center;
    font-size: 20px;
    position: absolute;
   

} 

.box3{
 border: 2px solid black;
 width: 350px;
 
 height: 40px;
 margin-left: 70px;
 border-radius: 10px;
 margin-top: 15px;
 background-color: orangered;
 
}
.box4{
    border: 2px solid black;
    width: 350px;
    height: 40px;
    margin-left: 70px;
    border-radius: 10px;
    margin-top: 15px;
    background-color: orange;
    
}

.conti{
    display: flex;
    gap: 30px;
    margin-left: 200px;
    
    
}
.box5{
    border: 2px solid black;
 height: 400px;
    width: 300px;

   
}
.box6{
    border: 2px solid black;
    width: 300px;
}
.box7{
    border: 2px solid black;
    width: 300px;
}
.vido{
    width: 1000px;
    height: 600px;
    margin-left: 200px;
}
.ola{
    color: darkslategray;
    text-align: center;
    font-size: 70px;
}
.view{
    width: 170px;
    height: 40px;
    background-color: gray;
    color: darkslategray;
  margin-left: 400px;
}
.ola:hover{
    font-style: italic;
}
.new{
    display: flex;
}
.card-container{
    display: flex;
    overflow: hidden;
     gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  
}

.card{
    width: 400px;
    height: 300px;
    background-color:beige ;

}
.card img {
  width: 100%;
  height: 200px;   
} 
.card:hover {
  background-color:pink;
  
}
.partners{
    background-image: url(https://media.istockphoto.com/id/1342851017/vector/elegant-black-background-vector-illustration-with-vintage-distressed-grunge-texture-and-dark.jpg?s=612x612&w=0&k=20&c=THEu64UKfhNsnXuVWOHsQehRr7uuKWjbYrshHoTFsS0=);
    height: 450px;
  
    
 
   
    
    
}
.partners:hover{
    background-color: pink;
}

.image-box img{
    width: 70%;
     
   
}
.image-box img:hover{
    transition: transform 5s ease;
    transform: scale(1.30);

}
.partners-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
     margin-left: 80px;
     
    
}
.photo{
    margin-left: 45%;
    margin-top: 70px;

}

.lap{
    background-image: url(https://i.pinimg.com/736x/6e/8c/df/6e8cdf8fe20de71584d77bd635921e01.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;

}
.style{
    text-align: center;
    color:white;
}
.last{
    display: flex;
    gap:20px ;
    margin-left: 300px;
  color: white;
  height: 300px;
  text-align: center;
}

.him{
    
    width: 20%;
    height: 5%;
    background-color:black;
     border-radius: 20px;
     padding: 30px;
     background-image: url();
     
}
.her{
  
        width: 20%;
    height: 5%;
    background-color: black;
    border-radius: 20px;
    padding: 30px;
    
    
}
.haha{
     background-color: black;
    height: 150px;
    text-align: center;
    }
    .ok{
        margin-top: 30px;
    }
    .buu{
        display: flex;
    }
    
.but{
    background-color: orange;
    height: 50px;
    width: 150px;
}
